<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Proyecto OneTicket para final de curso de DAW en IES Francisco de Quevedo (Madrid)">
    <meta name="author" content="Jose Manuel de Dios Martín">

    <link rel="shortcut icon" href="../../static/img/favicon.ico" th:href="@{/img/favicon.ico}" type="image/ico" />

    <title layout:title-pattern="$CONTENT_TITLE">One Ticket - IES Francisco de Quevedo </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
          th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">

    <!-- Custom css -->
    <link rel="stylesheet" href="../static/css/application.css" th:href="@{/css/application.css}"/>

</head>
<body>

    <!-- Barra superior -->
    <header>
        <!-- Datos del usuario -->
        <div class="container d-flex flex-wrap align-items-center justify-content-between">
            <div class="d-flex my-auto">
                <span class="align-middle" th:text="'Bienvenido, ' + ${logged.nombre}"></span>
            </div>
            <div class="d-flex my-auto text-secondary">
                <span class="align-middle" th:text="'Código: ' + ${logged.codigo}"></span>
            </div>
            <div class="d-flex my-auto text-secondary">
                <span class="align-middle" th:text="'Email: ' + ${logged.email}"></span>
            </div>
            <div class="d-flex my-auto text-secondary">
                <span class="align-middle text-primary opacity-75"
                      th:text="${logged.codigo} != 'admin' ? 'Rol: ' + ${logged.rol.descripcion} : 'Rol: Administrador'"></span>
            </div>
        </div>

        <!-- Barra principal -->
        <div class="bg-primary text-white mb-3 shadow">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <i class="bi bi-ticket-perforated-fill me-2 fs-1" role="img"> OneTicket</i>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class="bi bi-sliders d-block mx-auto mb-1 fs-2 text-center" width="24" height="24"></i>
                                <span>Opciones</span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="nav-link text-white">
                                <i class="bi bi-box-arrow-left d-block mx-auto mb-1 fs-2 text-center" width="24" height="24"></i>
                                <span>Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div layout:fragment="contenido">
        <!-- Aquí irá el contenido de las distintas páginas -->
    </div>

    <!-- Bootstrap JavaScript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
</body>
</html>