<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="filterAdmin" class="border-bottom pb-3">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <input type="search" id="filterCodigo" class="form-control shadow col-2" th:placeholder="#{filtrar.por.nombre}"
                       placeholder="Filtrar por..." th:onblur="|javascript:filterBarAdmin()|">
            </div>
            <div class="col-2">
                <select id="filterRol" class="form-select shadow col-2" th:placeholder="#{filtrar.por.rol}"
                        th:onchange="|javascript:filterBarAdmin()|">
                    <option selected value="">---</option>
                    <option th:each="rolOpt : ${T(es.jmdedios.proyectooneticket.utilities.RolesEnum).values()}"
                            th:value="${rolOpt}" th:text="${rolOpt.descripcion}"></option>
                </select>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../static/js/filterBarAdmin.js" th:src="@{/js/filterBarAdmin.js}"></script>

</div>

<div th:fragment="filterProject" class="border-bottom pb-2 mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
            <input type="search" class="form-control" placeholder="Buscar...">
        </form>
    </div>
</div>

</body>
</html>