<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="ticketFragment">
    <div class="container bg-light border rounded-3 shadow mb-1">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="fs-2 fst-italic me-auto" th:text="#{title.ticket}">ticket</div>
                <div class="fs-2 fst-italic" th:text="'#'+${ticket.secuencia}"></div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.asunto}">asunto</h6>
                        <p class="card-text text-primary" th:text="${ticket.asunto}">texto del asunto</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-4">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.asignado}">asignada a</h6>
                        <p class="card-text text-primary text-end" th:text="${asignado.nombre}">nombre de usuario asignado</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.tipo}">tipo</h6>
                        <p class="card-text text-primary text-end" th:text="${ticket.tipo.descripcion}">tipo de ticket</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.prioridad}">prioridad</h6>
                        <p class="card-text text-primary text-end" th:text="${ticket.prioridad.descripcion}">prioridad</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.estado}">estado</h6>
                        <p class="card-text text-primary text-end" th:text="${ticket.estado.descripcion}">estado</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.realizado}">realizado</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" th:style="'width: '+${ticket.realizado}+'%;'"
                                 th:text="${ticket.realizado > 0 ? ticket.realizado : ''}">%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.descripcion}">descripcion</h6>
                        <textarea class="text-primary w-100" rows="7" disabled
                                  th:text="${ticket.descripcion}">
                            descripcion
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-6">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.propietario}">creado por </h6>
                        <p class="card-text text-primary text-end" th:text="${propietario.nombre}">nombre de propietario</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.fecha.creacion}">fecha de creacion</h6>
                        <p class="card-text text-primary text-end" th:text="${#temporals.format(ticket.fechaCreacion, 'dd-MM-yyyy')}">fecha de creacion</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.fecha.finalizacion}">fecha de finalizacion</h6>
                        <p class="card-text text-primary text-end" th:text="${ticket.fechaFinalizacion != null ? #temporals.format(ticket.fechaFinalizacion, 'dd-MM-yyyy') : '-- -- ----'}">fecha de finalizacion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-success bg-opacity-10 border rounded-3 shadow mt-3 mb-1" th:each="comentario : ${comentarios}">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="fs-6 fst-italic me-auto" th:text="#{comentario.comentario.texto}">comentario</div>
                <div class="fs-6 fst-italic" th:text="${comentario.secuencia}"></div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-4">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.estado}">estado</h6>
                        <p class="card-text text-primary text-end" th:text="${comentario.estado.descripcion}">estado</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.realizado}">realizado</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" th:style="'width: '+${comentario.realizado}+'%;'"
                                 th:text="${comentario.realizado > 0 ? comentario.realizado : ''}">%</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.fecha.creacion}">fecha de creacion</h6>
                        <p class="card-text text-primary text-end" th:text="${#temporals.format(comentario.fechaCreacion, 'dd-MM-yyyy')}">fecha de creacion</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-12">
                <div class="card disabled">
                    <div class="card-body">
                        <h6 class="card-title text-secondary" th:text="#{text.comentario}">comentario</h6>
                        <textarea class="text-primary w-100" rows="7" disabled
                                  th:text="${comentario.comentario}">
                            comentario
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">&nbsp;</div>

</div>

</body>
</html>