<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/principal}">
<head>
    <meta charset="UTF-8">
    <title>One Ticket - Administración</title>
</head>
<body>
<div layout:fragment="contenido">
    <div class="container pt-3">
        <div class="d-grid gap-3 myGrid">
            <div class="bg-light border rounded-3 shadow" id="listado">
                <div class="list-group list-group-checkable p-2">
                    <!-- Bloque: uno por usuario existente en bd -->
                    <th:block th:each="usuario : ${usuarios}">
                        <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios" th:value="${usuario.codigo}">
                        <label class="list-group-item py-3" for="listGroupCheckableRadios">
                            <span th:text="${usuario.codigo}">código de usuario</span>
                            <span class="d-block small opacity-75" th:text="${usuario.nombre}">nombre de usuario</span>
                            <span class="d-block small opacity-75" th:text="${usuario.email}">email de usuario</span>
                        </label>
                    </th:block>

                    <!-- Elemento + para dar de alta usuarios -->
                    <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios" id="alta" value="">
                    <label class="list-group-item py-3 text-center" for="alta">
                        <i class="bi bi-person-plus-fill display-5 fw-bold opacity-25"></i>
                    </label>
                </div>
            </div>

            <div class="bg-light border rounded-3 shadow" id="registro">

            </div>
        </div>
    </div>
    <div>
        <!--
        <h3 th:text="${logged.id}"></h3>
        <h3 th:text="${logged.codigo}"></h3>
        <h3 th:text="${logged.nombre}"></h3>
        <div th:each="proyecto,iterador : ${logged.proyectos}">
            <span th:text="${iterador.index}"></span>
            <span> - </span>
            <span th:text="${proyecto}">id proyecto</span>
        </div>

        <pre>
            -----------------------------
        </pre>
        <div sec:authentication="name"></div>
        <div sec:authentication="principal.authorities"></div>
        -->
    </div>
</body>
</html>