<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/principal}">
<head>
    <meta charset="UTF-8">
    <title>OneTicket - Administración</title>
</head>
<body>
<div layout:fragment="contenido">

    <div th:replace="~{fragments/filterbar::filterAdmin}"></div>

    <div id="listUsuarios">
        <div class="container bg-light border rounded-3 shadow pt-1 ps-3 pb-3 mt-5">
            <div class="row row-cols-3">
                <!-- Un card por cada usuario existente en bd -->
                <div class="col pt-3" th:each="usuario : ${usuarios}">
                    <div class="card shadow-sm h-100">
                        <div class="card-header d-flex">
                            <i class="bi bi-person-fill me-1"></i>
                            <strong class="me-auto" th:text="${usuario.codigo}">código de usuario</strong>
                            <!-- El único que no se puede editar es el usuario admin -->
                            <a href="#" th:if="${usuario.codigo} != 'admin'" th:href="@{/admin/editar/{id} (id=${usuario.id})}">
                                <i class="bi bi-pencil-square me-1 fs-5 text-primary opacity-75" ></i>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-title" th:text="${usuario.nombre}">nombre de usuario</div>
                            <div class="d-flex">
                                <div class="card-text text-secondary me-auto" th:text="${usuario.email}">email de usuario</div>
                                <div class="card-text text-success opacity-75 text-end"
                                     th:text="${usuario.rol.descripcion}">rol de usuario</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Elemento + para dar de alta usuarios -->
                <div class="col pt-3">
                    <a class="text-decoration-none" th:href="@{/admin/nuevo/}">
                        <div class="card shadow-sm h-100">
                            <div class="card-header text-secondary fst-italic">
                                Nuevo usuario
                            </div>
                            <div class="card-body text-primary text-center">
                                <i class="bi bi-node-plus-fill display-3 opacity-25"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>