<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/principal}">
<head>
    <meta charset="UTF-8">
    <title>OneTicket - [[#{title.ticket.creacion}]]</title>
</head>
<body>
<th:block layout:fragment="contenido">
    <div class="container bg-light border rounded-3 shadow p-2" th:with="submitURL='/tickets/'+${ticketDTO.proyectoId}+'/grabar'">
        <form method="post" action="#" id="formTicket" role="form" class="row p-2"
              th:action="@{|${submitURL}|}" th:object="${ticketDTO}">

            <fieldset>
                <legend th:text="*{ticketId} ? #{ticket.editar} : #{ticket.nuevo}"></legend>

                <input type="hidden" th:attr="name='ticketId'" th:value="${ticketDTO.ticketId}" />
                <input type="hidden" th:attr="name='proyectoId'" th:value="${ticketDTO.proyectoId}" />
                <input type="hidden" th:attr="name='secuencia'" th:value="${ticketDTO.secuencia}" />
                <input type="hidden" th:attr="name='estado'" th:value="${ticketDTO.estado}" />
                <input type="hidden" th:attr="name='realizado'" th:value="${ticketDTO.realizado}" />
                <input type="hidden" th:attr="name='propietarioId'" th:value="${logged.id}" />
                <input type="hidden" th:if="${#strings.equals(logged.rol, rolDeveloper)}" th:attr="name='asignadoId'" th:value="${logged.id}" />

                <div class="col-11 pb-3">
                    <label class="form-label ms-1 requiredField" for="asunto" th:text="#{ticket.asunto.texto}">asunto *</label>
                    <div class="input-group" th:classappend="${#fields.hasErrors('asunto')} ? 'has-validation'">
                        <input type="text" id="asunto" maxlength="180" placeholder="Asunto..." autofocus required
                               class="form-control shadow-sm"
                               th:placeholder="#{asunto.etc}" th:field="*{asunto}"
                               th:classappend="${#fields.hasErrors('asunto')} ? 'is-invalid'">
                        <div class="invalid-feedback ms-1" th:if="${#fields.hasErrors('asunto')}"
                             th:errors="*{asunto}">error!</div>
                    </div>
                </div>

                <div class="col-2 pb-3">
                    <label class="form-label ms-1 requiredField" for="tipo" th:text="#{ticket.tipo.texto}">tipo *</label>
                    <div class="input-group" th:classappend="${#fields.hasErrors('tipo')} ? 'has-validation'">
                        <select class="form-select shadow-sm" id="tipo" required
                                th:field="*{tipo}" th:classappend="${#fields.hasErrors('tipo')} ? 'is-invalid'">
                            <option th:each="tipoOpt : ${T(es.jmdedios.proyectooneticket.utilities.TiposEnum).values()}"
                                    th:value="${tipoOpt}" th:text="${tipoOpt.descripcion}"></option>
                        </select>
                        <div class="invalid-feedback ms-1" th:if="${#fields.hasErrors('tipo')}"
                             th:errors="*{tipo}">error!</div>
                    </div>
                </div>

                <div class="col-2 pb-3">
                    <label class="form-label ms-1 requiredField" for="prioridad" th:text="#{ticket.prioridad.texto}">prioridad *</label>
                    <div class="input-group" th:classappend="${#fields.hasErrors('prioridad')} ? 'has-validation'">
                        <select class="form-select shadow-sm" id="prioridad" required
                                th:field="*{prioridad}" th:classappend="${#fields.hasErrors('prioridad')} ? 'is-invalid'">
                            <option th:each="prioridadOpt : ${T(es.jmdedios.proyectooneticket.utilities.PrioridadEnum).values()}"
                                    th:value="${prioridadOpt}" th:text="${prioridadOpt.descripcion}"></option>
                        </select>
                        <div class="invalid-feedback ms-1" th:if="${#fields.hasErrors('prioridad')}"
                             th:errors="*{prioridad}">error!</div>
                    </div>
                </div>

                <div class="col-12 pb-3">
                    <label class="form-label ms-1 requiredField" for="descripcion" th:text="#{ticket.descripcion.texto}">descripción del ticket *</label>
                    <div class="input-group" th:classappend="${#fields.hasErrors('descripcion')} ? 'has-validation'">
                        <textarea id="descripcion" maxlength="1024" class="form-control shadow-sm" rows="5" required
                                  th:placeholder="#{descripcion.etc}" th:field="*{descripcion}"
                                  th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid'">
                        </textarea>
                        <div class="invalid-feedback ms-1" th:if="${#fields.hasErrors('descripcion')}"
                             th:errors="*{descripcion}">error!</div>
                    </div>
                </div>

                <div class="col-4 pb-3" th:if="${#strings.equals(logged.rol, rolManager)}">
                    <label class="form-label ms-1" for="asignado" th:text="#{ticket.asignar.usuario}">asignar al usuario</label>
                    <div class="input-group">
                        <select class="form-select shadow-sm" id="asignado" th:field="*{asignadoId}">
                            <option selected value="">...</option>
                            <option th:each="usuarioOpt : ${usuariosAsignables}"
                                    th:value="${usuarioOpt.id}" th:text="${usuarioOpt.nombre}"></option>
                        </select>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</th:block>
<th:block layout:fragment="botonera">
    <div class="container">
        <div class="position-absolute top-0 start-50 translate-middle">
            <div class="btn-group btn-flotante" role="group" th:with="cancelURL='/tickets/'+${ticketDTO.proyectoId}">
                <button type="submit" class="btn btn-success" form="formTicket"><i class="bi bi-check2-circle mx-4"></i></button>
                <button type="button" class="btn btn-danger" th:onclick="window.location.href=[[${cancelURL}]]"><i class="bi bi-x-circle mx-4"></i></button>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>