<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/principal}">
<head>
    <meta charset="UTF-8">
    <title>One Ticket - Página principal</title>
</head>
<body>
<div layout:fragment="contenido">
    <div class="container pt-3">
        <div class="d-grid gap-3" style="grid-template-columns: 1fr 3fr;">
            <div class="bg-light border rounded-3 shadow">
                <br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="bg-light border rounded-3 shadow">
                <br><br><br><br>
            </div>
        </div>
    </div>
    <div>
        <!--
        <h3 th:text="${logged.id}"></h3>
        <h3 th:text="${logged.codigo}"></h3>
        <h3 th:text="${logged.nombre}"></h3>
        <div th:each="proyecto,iterador : ${logged.proyectos}">
            <span th:text="${iterador.index}"></span>
            <span> - </span>
            <span th:text="${proyecto}">id proyecto</span>
        </div>

        <pre>
            -----------------------------
        </pre>
        <div sec:authentication="name"></div>
        <div sec:authentication="principal.authorities"></div>
        -->
    </div>
</body>
</html>