<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/principal}">
<head>
    <meta charset="UTF-8">
    <title>One Ticket - Proyectos</title>
</head>
<body>
    <div layout:fragment="contenido">
        <div class="container-fluid w-75">
            <div th:switch="${proyectos}" class="container my-5">
                <h2 th:case="null">No se han encontrado registros!!!</h2>
                <div th:case="*">
                    <table id="proyectos" class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                        </tr>
                        </thead>
                        <tbody id="tbodyMensajes">
                            <tr class="result" th:each="proyecto : ${proyectos}">
                                <td th:text="${proyecto.codigo}">codigo</td>
                                <td th:text="${proyecto.nombre}">nombre</td>
                                <td th:text="${proyecto.descripcion}">descripción</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>